In [11]:
def check_prime(n):
    if(n==1):
        return False
    elif(n==2):
        return True
    else:
        for x in range(2,n):
            if(n%x==0):
                return False
        return True

In [12]:
check_prime(9)

False

In [13]:
a="I study in CETPA"
for i in (a):
    if(a.islower==True):
        x=x+1

In [2]:
print("\U0001F600")

ðŸ˜€

In [3]:
print("\U0001F49E")

ðŸ’ž

In [4]:
print("\U0001F46B")

ðŸ‘«

In [16]:
first_name = "Dev"
last_name = "Gautam"
fullname = first_name  +" "+  last_name
print(fullname)

Dev Gautam

In [17]:
print(fullname)

Dev Gautam

In [20]:
name=input("Enter your name:->")
age=22
print(name,age)

Enter your name:->Dev
Dev 22

In [28]:
n1=int(input("enter first no"))
n2=int(input("enter second no"))
total=n1*n2
print("Total is",+total)

enter first no3
enter second no4
Total is 12

In [ ]:
def check(a):
    x=0,y=0,z=0
    for i in a:
        if(i.islower()==True):
            x=x+1
        elif(i.isupper()==True):
            y=Y+1
        else:
            z=z+1
            print("upper case",x)
            print("lower case",y)
        a=

In [8]:
class Person():
    pass
p=Person()
print(p)

<__main__.Person object at 0x000002D0F9EDB748>

In [12]:
class Person():
    name="Dev"
P=Person()
print(P.name)

Dev

In [20]:
class Person():
    name="Dev"
    age = 22
    add ="fbd"
p=Person()
print(p.name)
print(p.age)
print(p.add)

Dev
22
fbd

In [30]:
class Person():
    name="Sakshi"
    def change_name(self,new_name):
        self.name=new_name
Ps=Person()
print(Ps.name)
Ps.change_name("Dev")
print(Ps.name)

Sakshi
Dev

In [ ]:
#Write a program to to find a string is palindrom or not
b=str(input("Enter a string"))
for i in range(len(b)):
    b=b+1

In [1]:
input_string = input("Enter a list element separated by space ")
list  = input_string.split()
print("Calculating sum of element of input list")
sum = 0
for num in list:
    sum += int (num)
print("Sum = ",sum)

Enter a list element separated by space 2 3 4 5
Calculating sum of element of input list
Sum =  14

In [5]:
#multiplication of elements in a list
l1=input("enter the numbers saperated by space:->")
list =l1.split()
multiplication = 1
for num in list:
    multiplication *= int(num)
print("multiplication of elements in a list is",multiplication)

enter the numbers saperated by space:->2 3 4 5 6
multiplication of elements in a list is 720

In [3]:
#waf cheack wheather a no is in given range
def in_range():
    for
        if i <=200 and i>=500:
            print("In Range")
        else:
            print("Not inn Range")

SyntaxError: invalid syntax (<ipython-input-3-e54bc20573eb>, line 2)

In [2]:
in_range(400)

TypeError: in_range() takes 0 positional arguments but 1 was given

In [8]:
class Student():
    
    def __init__ (self,name,roll_no,marks):
        self.name=name
        self.roll_no=roll_no
        self.marks=marks
    def talk(self):
        print("Student name is:->",self.name)
        print("Student roll_no is:->",self.roll_no)
        print("Student marks is:->",self.marks)

In [9]:
s1 = Student("dev",23,70)
s1.talk()

Student name is:-> dev
Student roll_no is:-> 23
Student marks is:-> 70

In [19]:
class Animal():
    def eat(self):
        print("eating")
class dog():
    def bark(self):
        print("barking")
class bird(Animal,dog):
    def fly(self):
        print("flying")

In [20]:
a=bird()
a.eat()
a.bark()
a.fly()

eating
barking
flying

In [2]:
class  Employee:
    raise_amount = 1.04
    def __init__ (self,first,last,pay):
        self.first = first
        self.last = last
        self.email = first + '.'+last +'@gmail.com'
        self.pay = pay
        
        
    def fullname():
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * Employee.raise_amount)
        

emp1 = Employee('Dev','Gautam',100000)
emp2 = Employee('Brijesh','Maurya',90000)
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

100000
104000

In [3]:
print(emp1.__dict__)

{'first': 'Dev', 'last': 'Gautam', 'email': 'Dev.Gautam@gmail.com', 'pay': 104000}

In [4]:
print(Employee.__dict__)

{'__module__': '__main__', 'raise_amount': 1.04, '__init__': <function Employee.__init__ at 0x000001FDB54AB048>, 'fullname': <function Employee.fullname at 0x000001FDB54AB598>, 'apply_raise': <function Employee.apply_raise at 0x000001FDB54AB510>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [8]:
class  Employee:
    raise_amount = 1.04
    no_of_emp = 0
    def __init__ (self,first,last,pay):
        self.first = first
        self.last = last
        self.email = first + '.'+last +'@gmail.com'
        self.pay = pay
        Employee.no_of_emp +=1
        
        
    def fullname():
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * Employee.raise_amount)
    
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amount = amount
        
print(Employee.no_of_emp)
emp1 = Employee('Dev','Gautam',100000)
emp2 = Employee('Brijesh','Maurya',90000)

Employee.set_raise_amt(1.05)
emp1.set_raise_amt(1.05)
print(emp1.pay)
print(emp2.pay)

print(Employee.raise_amount)

0
100000
90000
1.05

# class Methods

1.regular(self)
2.classmethod(cls)
3.staticmethod(a,b)

In [10]:
emp_str_1 = 'jhon-dee-60000'
emp_str_2 = 'raghav-sen-70000'
emp_str_3 = 'brijesh-maurya-80000'
first,last,pay = emp_str_1.split('-')
new_emp_1 = Employee(first,last,pay)
new_emp_2 = Employee(first,last,pay)

print(new_emp_1.email)
print(new_emp_2.email)

jhon.dee@gmail.com
jhon.dee@gmail.com

2.classmethods(cls)

In [11]:
class  Employee:
    raise_amount = 1.04
    no_of_emp = 0
    def __init__ (self,first,last,pay):
        self.first = first
        self.last = last
        self.email = first + '.'+last +'@gmail.com'
        self.pay = pay
        Employee.no_of_emp +=1
        
        
    def fullname():
        return '{} {}'.format(self.first,self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * Employee.raise_amount)
    
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amount = amount
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay = emp_str.split('-')
        return cls(first,last ,pay)
new_
        
#print(Employee.no_of_emp)
#emp1 = Employee('Dev','Gautam',100000)
#emp2 = Employee('Brijesh','Maurya',90000)

#Employee.set_raise_amt(1.05)
#emp1.set_raise_amt(1.05)
#print(emp1.pay)
#print(emp2.pay)

#print(Employee.raise_amount)

NameError: name 'new_' is not defined