In [1]:
import pymysql

In [13]:
db = pymysql.connect('localhost','root','1234567890','practice')
                                                      #   |_____>database or schema name

In [50]:
cursor = db.cursor()
cursor.execute("SELECT VERSION()")

1

In [15]:
#Create Table as per Requirment
sql = """ CREATE TABLE EMPLOYEE1(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT )"""
cursor.execute(sql)

0

In [42]:
#inserting the values in the created columns
sql = """ INSERT INTO EMPLOYEE1(FIRST_NAME,
     LAST_NAME,AGE,SEX,INCOME)
     VALUE ('Dev','gautam',20,'M',16978870)"""

In [43]:
cursor.execute(sql)
db.commit()

In [45]:
sql = "select * from employee1"

In [46]:
cursor.execute(sql)

4

In [47]:
results = cursor.fetchall()

In [48]:
results

(('Dev', 'gautam', 20, 'M', 1000000.0),
 ('Dev', 'gautam', 20, 'M', 100000.0),
 ('Dev', 'gautam', 20, 'M', 100000.0),
 ('Dev', 'gautam', 20, 'M', 16978900.0))